@charset "utf-8";
/*font-family: 'Noto Sans KR', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');

.banner_wrap{width:350px; height:200px; margin:0 auto;}
.banner_wrap .banner{position:relative;}
.banner_wrap .banner a{display:block; width:100%; position:relative;}
.banner_wrap .banner a img{display:block;}
.banner_wrap .banner a .banner_txt{width:235px; text-align:right; position:absolute; right:16px; top:40px;  color:#fff;}
.banner_wrap .banner a .banner_txt h1{font-size:30px; color:#fff; padding-bottom:25px;}
.banner_wrap .banner a .banner_txt p{font-size:20px;}